body {
  display: block;
  margin: auto;
  background-color: #6DCCAA;
  /* background-color:#85D4B7; */
}

/*primero en el movil (mobile first)*/

.menu {
  background-color: #6DCCAA;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
}

.menu div:hover {
  background: rgb(7, 158, 15);
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  text-decoration: none;
}

.menu img {
  height: 2em;
  vertical-align: middle;
}

.menu div {
  white-space: nowrap;
}
.menu div a{
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    text-decoration: none;
}

.imgfondo {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 400px;
  margin-bottom: -30px;
  padding-bottom: 20px;
}

.bajoimg {
  color: white;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bajoimg2 {
  padding-left: 30%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: inline-block;
}

.facebook, .gmail, .insta, .mail {
  padding-left: 5%;
  padding-top: 5%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 5px;
}

.enlinea {
  text-align: center;
  padding-left: 0px;
  padding-right: 16px;
  padding-bottom: 30px;
}

.contenedorgrande {
  /* border:solid 1px red; */
  text-align: right;
  background-color: white;
  display: block;
  padding: 30px 10px;
  display: block;
  margin: auto;
}

footer {
  background-color: rgba(236, 219, 231, 0.952);
  padding-bottom: 5%;
  margin-top: -150px;
  margin-bottom: -100px;
  padding-bottom: 122px;
  position: absolute;
  width: 100%;
  
}

footer p {
  margin-left: 30px;
  color: dimgray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fnldiv {
  background-color: white;
}

.perro {
  background-color: white;
  padding: 10px 10px;
  display: inline-block;
  text-align: right;
  /* border: 1px solid #4800ff; */
  margin-bottom: 100px;
  margin-top: -10px;
  margin-left: 240px;
}

.crow {
  background-color: white;
  margin-right: 30px;
  padding: 10px 10px;
  text-align: left;
  display: inline-block;
  margin: 20px;
  /* border: 1px solid #4800ff; */
  margin-right: 100px;
  margin-left: 640px;
  margin-top: -500px;
}

perro h2 p {
  font-style: italic;
}

.perro h2, .crow h2 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.perro p, .crow p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.952);
}

.linea {
  border: black solid;
  width: 30px;
  height: 0;
  text-align: right;
  border-color: gainsboro;
  margin-left: 400px;
  margin-top: 20px;
}

.linea2 {
  border: black solid;
  width: 30px;
  height: 0;
  text-align: left;
  border-color: gainsboro;
  margin-right: 400px;
  margin-top: 20px;
}

.centrado {
  position: absolute;
  top: 80%;
  left: 21%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 100%;
  margin-top: -150px;
}

.boton {
  border-color: black;
  color: black;
  background-color: white;
  padding: 10px;
  font-weight: bold;
}

.galeria {
  display: flex;
  margin-bottom: 128px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 20px;
  overflow-x: scroll;
  vertical-align: auto;
  background-color: black;
  justify-content: center;
  margin-left: 9px;
}

.pexel {
  height: 100%;
}

.galeria1 {
  display: flex;
  height: 91px;
  /* width: 730px; */
  margin-left: -16px;
}

.galeria2 {
  display: flex;
  margin-left: 103px;
  width: 256px;
}

.galeria3 {
  display: flex;
  width: 782px;
  margin-left: 58px;
}

.galeria img {
  margin: 2px;
  max-height: 248px;
  display: flow-root;
  margin: 1px;
  /* width: 260px; */
  margin: 1px;
  max-width: 139px;
  /* margin: 2px; */
  height: 215px;
  margin-right: 10px;
  margin-left: 22px;
}

.oso {
  height: 200px;
}

.maya {
  height: 200px;
}

.wifi {
  height: 200px;
}
.textb{
 font-size: xx-small;
}



/* .zoomoso{
    width: 100px;
    height: 100px;
  } */

/* @media screen and (min-width: 360px) {
  nav ul {
    display: -webkit-inline-box;
    justify-content: center;
  }
 .imglogo{
   text-align: center;
   display: initial;
 }

 .galeria1 {
  display: inline-block;
  position: relative;
  margin: 15px;
}

  .centrado {
    position: absolute;
    top: 80%;
    left: 21%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    position: absolute;
    margin-left: 60px;
  }
 .galeria{
   margin: auto;
   display: block;
  
 }
  
  .galeria{
    width: 100%;
    margin: auto;
    display: inline-flex;
  }
} */

@media screen and (max-width: 1024px) {
  nav {
    /* background-color:#85D4B7; */
    background-color: #6DCCAA;
  }
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav li {
    margin-bottom: 0px;
  }
  .imgfondo {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
  .imglogo {
    text-align: center;
  }
  .bajoimg, .bajoimg2 {
    display: none;
  }
  .facebook, .gmail, .insta, .mail {
    margin-left: 100px;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 7px;
    border-radius: 50%;
  }
  .enlinea {
    text-align: center;
  }
  .centrado {
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    position: absolute;
    margin-left: -10%;
    margin-top: -30%;
    /* interlineado texto centro de imagen */
    line-height: 4px;
  }
  .centrado>h2 {
    color: black;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: small;
  }
  .contenedorgrande {
    content: none;
    display: block;
    clear: both;
    background-color: white;
  }
  .perro {
    background-color: white;
    float: left;
    text-align: right;
    margin-bottom: 100px;
    margin-top: -30px;
    margin-left: 100px;
    padding-right: 52px;
    display: contents;
  }
  .imgperro {
    width: 50%;
  }
  .imgcrow {
    width: 50%;
  }
  .crow {
    background-color: white;
    margin-right: 30px;
    padding: 10px 10px;
    text-align: left;
    display: block;
    margin: auto;
  }
  .linea {
    margin: 0px;
  }
  .boton {
    border-color: black;
    color: black;
    background-color: white;
    padding: 10px;
    font-weight: bold;
  }
  .galeria {
    /* background-color:#85D4B7; */
    background-color: #6DCCAA;
    max-height: 200px;
    display: flex;
    margin-bottom: 62px;
    margin-left: 22px;
    margin-right: 11px;
    width: auto;
    height: 200px;
    padding-bottom: 136px;
    padding-top: 19px;
    scroll-behavior: auto;
    /* overflow-x: scroll; */
    /* white-space: nowrap; */
 */
  }
  .galeria1 {
    display: table;
    margin-bottom: 10px;
    margin-left: -1px;
    margin-right: 5px;
  }
  .galeria img {
    margin: 2px;
    max-height: 107px;
    display: inline;
    margin: 1px;
    width: 90px;
    margin: 3px;
    max-width: 90px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: -10px;
  }
  
  .pexel {
    height: 100%;
  }
  .galeria2 {
    margin-left: 0px;
    height: 393px;
    /* max-height: 155px; */
    display: contents;
  }
  .galeria3 {
    display: contents;
    margin-left: 7px;
  }
  .footer {
    padding: 0px;
    padding-top: 100px;
    
  }
  .luna {
    height: fit-content;
  }
  .wifi {
    height: 74px;
  }
  .maya {
    height: 70px;
  }
  .div img {
    height: 100px;
  }
  /* .oso{
  width: 20px;
  height: 70px;
} */
/* .maya{
  transition: transform .2s; 
      width: 72px;
      height: -21px;
      background: #6DCCAA;
      transition: width 2s, height 2s, transform 2s;
      max-width: 93px;
      max-height: 107px;
      display: inherit;
      padding-right: -16px;
  }
  
  .maya:hover{
       top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    position: relative;
  } */
}
